@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

#root > div:nth-child(1) > div > div > div > div > section > div {padding-top: 0rem;padding-left: 3rem;padding-right: 3rem;padding-bottom: 0rem}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
button[title="View fullscreen"]{visibility: hidden;}

html, body, header, footer [class*="css"] {
    font-family: 'Outfit', sans-serif;
}